<!DOCTYPE html>
<html>
<head>
<title>Projekt w Dash</title>
{% load static %}
<link rel="stylesheet" href="{% static 'base/css/home.css' %}" type = "text/css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="
sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="
sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>

<body>
   <div class = "container">
      <div class="card row">
         <div class="card-header">
           Etapy wykonania aplikacji inwestycyjnej
         </div>
         <div class="card-body">
           <ul class = "list-group">
               <li class="list-group-item">Pozyskanie danych poprzez Web Scrapping w Beautiful Soap 4</li>
               <li class="list-group-item">Stworzenie bazy danych w SQLite3</li>
               <li class="list-group-item">Stworzenie układu strony przy użyciu komponentów bootstrap w Dash</li>
               <li class="list-group-item">Wykonanie interaktywnych wykresów</li>
               <li class="list-group-item">Umożliwienie użytkownikowi analizy czynników makroekonomicznych wybranego kraju</li>
               <li class="list-group-item">Umożliwienie użytkownikowi tworzenia własnego zestawu wykresów do analizy branży i spółek</li>


           </ul>
           <a href="{% url 'home' %}" class="btn btn-primary">Wróc do strony głównej</a>
         </div>
       </div>
   </div>
</body>

</html> 