<!DOCTYPE html>
<html>
<head>
<title>Projekt z Data Science</title>
{% load static %}
<link rel="stylesheet" href="{% static 'base/css/home.css' %}" type = "text/css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="
sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="
sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>

<body>
   <div class = "container">
      <div class="card row">
         <div class="card-header">
           Etapy wykonania projektu z zakresu Data Science
         </div>
         <div class="card-body">
           <ul class = "list-group">
               <li class="list-group-item">Pozyskanie 80 milionów rozdań pokerowych w formie tekstowej</li>
               <li class="list-group-item">Analiza plików tekstowych w celu wyodrębnienia istotnych informacji</li>
               <li class="list-group-item">Wyliczenie statystyk opisujących strategię graczy</li>
               <li class="list-group-item">Eksploracja zbioru danych</li>
               <li class="list-group-item">Przygotowanie danych do budowy modelu regresji logistycznej</li>
               <li class="list-group-item">Estymacja oraz interpretacja modelu regresji logistycznej</li>


           </ul>
           <a href="{% url 'home' %}" class="btn btn-primary">Wróc do strony głównej</a>
         </div>
       </div>
   </div>
</body>

</html> 