<!DOCTYPE html>
<html>
<head>
   <title>Adam Perczyński</title>
   {% load static %}
   <link rel="stylesheet" href="{% static 'base/css/home.css' %}" type = "text/css">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="
   sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="
   sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>

<body>
   <div class = "container">
      <div class = 'row'>
         <div class = 'col-xl-4'>
            <div class="card h-100 card-body">
               <img id = "profile-pic" src="{% static 'base/images/profil.png' %}" alt="Osoba" width = '100%'>
            </div>
         </div>
         <div class = 'col-xl-8'>
            <div class = 'card h-100 card-body'>
               <h3>Jak to się zaczęło</h3>
               <hr>
               <p>W 2017 postanowiłem rozpocząć studia na kierunku Analiza danych - Big Data Szkoły Głównej Handlowej, gdzie poznałem podstawy programowania w językach tj. SAS, R, Python czy Julia.
                  Od tego czasu próbowałem różnych możliwości kodowania głównie w DataScience, jednak największe zaangażowanie pojawiało się gdy rozwijałem umiejętności z zakresu Web Developmentu.
                  Dlatego od niedawna zacząłem skupiać się na poznawaniu framework'ów w języku Python. Zacząłem od Dash'a w którym wykonałem aplikację wspomagającą decyzje inwestycyjne na polskiej GPW, a 
                  obecnie poznaje możliwości framework'a Django w którym została napisana ta prosta strona internetowa.
               </p>
            </div>
         </div>
      </div>
      <div class = 'row'>
         <div class = 'col-xl-6'>
            <div class = 'card h-100 card-body'>
               <h3>Jak się uczę</h3>
               <hr>
               <p>Zaczynając naukę nowego narzędzia wyszukuję materiały na podstawie których tworzę notatki co pozwala mi się lepiej skupić na poznawanym zagadnieniu. W przypadku kursów wideo
                  zapisuje fragmenty, które uważam za wartościowe, aby móc szybko do nich wrócić przy wykonywaniu własnych projektów. W ten sposób poznaje ogólną wiedzę, którą następnie rozszerzam podczas 
                  wykonywania postawionych zadań. Gdy czegoś nie rozumiem lub natrafiam na problem, którego nie potrafię rozwiązać poszukuje pomocy w oficjalnych dokumentacjach lub na platformach tj. stackoverflow.com 
                  czy społecznościach danego narzędzia.
               </p>
            </div>
         </div>
         <div class = 'col-xl-6'>
            <div class = 'card h-100 card-body'>
               <h3>Moje projekty</h3>
               <hr>
               <p>Przewidywanie wyników graczy pokerowych w odmianie NL Texas Hold’em:</p>
               <a href = "{% url 'datascience' %}" class="btn btn-secondary">Szczegóły wykonania projektu</a>
               <hr style="border-width: 2px;">
               <a href = "https://gpw-value-app.herokuapp.com/" target = "_blank" class = "btn btn-primary">Aplikacja wspomagająca decyzje inwestycyjne</a>
               <a href = "{% url 'dash' %}" class="btn btn-secondary">Szczegóły wykonania aplikacji</a>
            </div>
         </div>
      </div>
      <div class = 'row'>
         <div class = 'col-xl-4'>
            <div class="card h-100">
               <div class="card-body">
                  <h3>Moje zainteresowania</h3>
                  <hr>
                  <p>W ramach work-life balance czas wolny spędzam poza komputerem. Do moich ulubionych zajęć należą: wędkowanie, wycieczki motocyklowe oraz jazda na rolkach. 
                     Po za tym interesuję się ekonomią, inwestycjami głównie analizą fundamentalną oraz polityką.
                  </p>
               </div>
             </div>
         </div>
         <div class = 'col-xl-8'>
            <div class="card h-100">
               <div class="card-body">
                  <h3>Moje plany</h3>
                  <hr>
                  <p>Obecnie codziennie rozwijam umiejętności z zakresu Web Developmentu w Django. Nabyte umiejętności wykorzystuję do rozwijania aplikacji związanej z inwestycjami oraz innych pomysłów, które chcę wdrożyć. 
                     Moim celem jest zdobycie pracy jako Junior Django Developer. Jednak obecnie uważam, że moje umiejętności nie są wystarczające na te stanowisko, dlatego chętnie podejmę się stażu w tym obszarze.
                  </p>
               </div>
             </div>
         </div>
      </div>
   </div>

</body>

</html> 